
.print-only {
  display: none;
}
/* Styles for headers */
#content h1,
#content h2 {
    text-align: center;
}
#content h2 {
  background: linear-gradient(
    70deg,
    hsl(0, 80%, 60%),
    hsl(30, 100%, 70%),
    hsl(60, 100%, 80%),
    hsl(90, 100%, 80%),
    hsl(120, 100%, 80%),
    hsl(150, 100%, 80%),
    hsl(180, 100%, 80%),
    hsl(210, 100%, 80%),
    hsl(240, 100%, 85%),
    hsl(270, 100%, 80%),
    hsl(300, 95%, 75%),
    hsl(334, 100%, 70%),
    hsl(360, 90%, 65%));
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: .3rem;
  padding-bottom: .3rem;
}
/* Filter button section */
.guidefilter-buttons {
  padding: 0;
}
.guidefilter-buttons a {
  margin-top: 2px;
  margin-bottom: 2px;
}
.guidefilter-buttons a {
  background-color: hsl(240, 50%, 65%) !important;
}
.guidefilter-buttons.event-filters a {
  background-color: hsl(270, 50%, 65%) !important;
}
.guidefilter-buttons a.filter-active {
  filter: brightness(120%);
}
.guidefilter-buttons a:hover {
  filter: brightness(120%);
}
/* Maps */
.event-map {
  background-color: hsl(120, 40%, 90%);
  margin-bottom: 2.5rem;
}

/* Styles for guide specific areas */
.event-section-two-column .event-item-list {
  column-count: 2;
  column-gap: 1rem;
}
.event-section-two-column .event-item-title,
.event-section-two-column .event-item-subtitle, 
.event-section-two-column .event-item-description {
  text-align: center;
}
.event-item-block {
  break-inside: avoid;
  padding-bottom: 1rem;
}
.event-item-title h3 {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: lighter;
  letter-spacing: -.8px;
  line-height: 1.8rem;
  margin-bottom: 0;
  text-transform: none;
}
.event-item-title h4 {
  display: inline;
  font-size: 1.2rem;
}
.event-item-subtitle {
  font-size: 1.1rem;
}
.event-item-description {
  color: black;
  line-height: 1.4rem;
  padding-top: .5rem;
}
.event-item-description p {
  margin-top: 0;
  margin-bottom: .8rem;
}
.event-artist-name {
  font-weight: bold;
}
.event-item-icon {
  cursor: pointer
}
.event-section-EVENTS .event-item-description {
  padding-top: 0;
}
h3.event-time-header {
  font-size: 1.4rem;
  margin-top: .2rem;
  margin-bottom: 0;
  text-align: center;
}
.event-section-STAGES .event-item-title,
.event-section-STAGES .event-item-subtitle,
.event-section-STAGES .event-item-description {
  text-align: center;
}
.event-item-age {
  font-weight: bold;
  text-transform: uppercase;
}
.event-item-age.event-age-red .event-age-description {
  color: hsl(0, 80%, 60%);
}
.event-item-age.event-age-purple .event-age-description {
  color: hsl(270, 100%, 70%);
}
.mobile-next-line {
  display: inline;
}
/* Some mobile styles */
@media only screen and (max-width: 680px) {
  .guidefilter-buttons a {
    max-width: 200px;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
  }
  .event-section-two-column .event-item-list {
    column-count: 1;
  }
  .mobile-next-line {
    display: block;
  }
  .mobile-next-line .separator {
    display: none;
  }
}

/* Printing styles */
@media print {
  .sqs-block-button,
  .screen-only {
    display: none !important;
  }
  .print-only {
    display: initial !important;
  }
  body {
    print-color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
  }
  header#header,
  #preFooter,
  footer#footer {
    display:none;
  }
  main#page {
    padding: 0;
  }
  @page {
    margin: 0.6in;
  }
  #content h2 {
    background-color: #f0f0f0;
    border-bottom: 1px solid #333;
    font-size: 18pt;
    font-weight: bold;
    padding-top: 0pt;
    padding-bottom: 0pt;
    }
  .event-item-title h3 {
    font-size: 16pt;
  }
  h3.event-time-header {
    font-size: 15pt;
  }
  .event-item-title h4 {
    font-size: 13pt;
  }
  .event-item-description {
    font-size: 11pt;
    line-height: 14pt;
  }
  .event-item-description p {
    margin-top: 0;
    margin-bottom: 6pt;
  }
}
